@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto:wght@100;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.articles-container{
    width: 100%;
    display: flex;
    height: 50vh;
}

.article-container{
    width: 33%;
    height: 41vh;
}

.left-container{
    width: 44%;
    display: inline-block;
    float: left;
}
.left-container p {
    margin: 0;
}

.left-container .images{
    height: 100%;
}
.right-container{
    width: 56%;
    display: inline-block;
    float: right;
}
.right-container p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}


.btn-black{
    display: inline-block;
    padding: 1.3em 6.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: black;
    text-align: center;
}
